<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <quartz>
    <add key="quartz.jobStore.type" value="Quartz.Impl.RavenDB.RavenJobStore, Quartz.Impl.RavenDB"/>
  </quartz>
  <connectionStrings>
    <add name="quartznet-ravendb" connectionString="Url=http://localhost:8080;DefaultDatabase=IftahDB"/>
  </connectionStrings>
</configuration>